*{
    margin:0px;
    padding:0px;
}
#nav{
    width: 100%;
    height:auto;

}
#headertx{
    width: 100%;
    height:auto;
    margin-top: 0px;
}
#navbar{
    background-color: #138750;
    border: 0px;
    color: white;
}
#contentarea{
    idth: 100%;
    height:auto;
    margin-top: 0px;
}
#mywell{
    margin-bottom: 0px;
    padding:6px;
}
#mywell1{
    margin-bottom: 0px;
    background-color: #138750;
    color:white;
    padding:2px;
}




#custom1 {
    border-collapse: collapse;
    width: 100%;
    /*font-family: Segoe;*/
}

#custom1 td,
#custom1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#custom1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#custom1 tr:hover {
    background-color: #ddd;
}

#custom1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #138750;
    color: white;
}





#custom3 {
    border-collapse: collapse;
    width: 100%;
    /*font-family: Segoe;*/
}

#custom3 td,
#custom3 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#custom3 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#custom3 tr:hover {
    background-color: #ddd;
}

#custom3 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #138750;
    color: white;
}